<div>
  <ul>
    <li>
      <h3>{{ninja.name}} - {{ninja.rate | currency}}</h3>
      <div class="remove" ng-click="removeNinja(ninja)">x</div>
      <span class="belt" style="background: {{ninja.belt}}">{{ninja.belt}} belt</span>
    </li>
  </ul>
</div>
