<div class="content">
  <button type="button" name="button" ng-click="order = 'name'">Order by Name</button>
  <button type="button" name="button" ng-click="order = 'belt'">Order by Belt</button>
  <input type="text" placeholder="Search" ng-model="search.name">
  <div class="fade" ng-repeat="nj in ninjas | orderBy:order | filter:search">
    <div ninjas-list ninja="nj" ninjas="ninjas"></div>
  </div>
  <form ng-submit="addNinja()">
    <input type="text" placeholder="name" ng-model="newninja.name">
    <input type="text" placeholder="belt" ng-model="newninja.belt">
    <input type="text" placeholder="rate" ng-model="newninja.rate">
    <input type="submit" value="Add new Ninja">
  </form>
</div>
